h1{ display: inline-block;
width: 20%;
}
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0b465;
}
div{
    border: 2px solid black;
}
.menu{
    text-align: right;
    padding: 10px;
    width: 60%;
    display: inline-block;
    
}
.menu2 a:hover{
    border-radius: 5px;
    border: 2px solid #f1d338;
}

.imagen-principal{
    text-align: center;
}
.presentacion{
    text-align: center;
    font-size: 20px;
    margin: 20px;
}
 .boton{
    border-radius: 5px;
    border:2px solid #f1d338;
    margin-left: 60%;
    margin-top: 50%;
    }
footer {
    text-align: center;
    
}
 @media (prefers-color-scheme: dark){
    body{
    background:#000;color:#ffeb3b;
    font-family:"comic sans ms",cursive
    }
    nav a, footer a{
    color:#ffeb3b
    }
    .boton{
    border-color:#ffeb3b;color:#ffeb3b
    }
    .boton:hover{
    background:#ffeb3b;color:#000
}
  }
   

  /* para moviles */
  @media (max-width: 600px){
    .boton:hover{
        background:#ffeb3b;
        color:#000;
    }
    nav{
        display:block;margin:8px 0
    }
    nav a{
        display:block;margin:6px 0
    }
    .columna{
        display:block;width:100%
    }
  }