<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>INICIO</h1>
    <p>Pagina de Animales<a href="{% url 'lista_animales' %}">Lista de animales</a></p>
    <p>Pagina de Protectoras<a href="{% url 'lista_protectoras' %}">Lista de protectoras</a></p>
    <p>Pagina de Colaboradores<a href="{% url 'lista_colaboradores' %}">Lista de colaboradores</a></p>
</body>
</html>
